.wrapper {
    max-width: 700px;
    margin: auto;
    text-align: center;
}

.counterBtn {
    background-color: rgb(2, 85, 211);
    color: #fff;
    outline: none;
    border: none;
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
